body{
    background-color: lightgray;
    font-family: 'Share Tech Mono', monospace;
}
h1{
    font-size:50px;
    font-weight: bold;
    color:yellow;
    -webkit-text-stroke:2px blue;
}
.container{
    width: 75px;
    height:105px
}
#badge{
    width: 100px;
    height:30px;
    background-color: blue;
    border-radius:  10px;
    text-align :center;

    margin-left: 30%;
    
}
#info{
    margin-top: 20px;
}
#copyright{
    font-size: 15px;
    opacity: 0.5;
}
.flex-container{
 width: 300px;
 height:900px;
 border-radius:  10px;
 text-align :center;
 align-content: left;
 background-color: red;
 -webkit-box-shadow: 5px 5px 15px 5px #6C6C6C; 
box-shadow: 5px 5px 15px 5px #6C6C6C;

}
#list-aanvallen{
    widows: 4px;0%; 
    float:left;
}
#list-levels{
    width:10%; 
    float:right;
    list-style-type: none;
    margin-top: 35px;
}
#level{
    margin-top: 0px;
}
#naam{
    width:10%; 
    float:left;
    clear:left;
}
#id {
    width:20%; 
    float:right;
    clear: right;
}
