html,
body {
    height: 100%;
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 140px;
    margin: 0 auto
}

h1 {
    font-weight: 700;
    margin-top: 10;
}
#speluitleg{
    width: 320px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}
.fade{
    opacity: 0;
    transition: opacity 0.4s ease-out;
    -ms-transition: opacity 0.4s ease-out;
    -moz-transition: opacity 0.4s ease-out;
    -webkit-transition: opacity 0.4s ease-out;
}
.cr {
    font-size: .8em;
    color: #555;
    margin: 10px auto;
    text-align: center;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
    supported by Chrome, Opera and Firefox */
}