.wrapper{
  width:100%;
}
.intro{
  width:100%;
}
.intro p{
  width: 100%;
  line-height: 20px;
  padding:20px 5px 20px;
  text-align: left;
}
.img-me{
  width:100%;
}
.about{
  width: 100%;
}
.about h2{
  font-size: 34px;
  text-align: center;
}
.about p{
  line-height: 20px;
  padding:0px 20px 20px;
  text-align: center;
  font-size: 17px;
}
